.moviesCardList {
  font-family: Inter, Arial, sans-serif;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  background-color: #202020;
  color: #fff;
}

.moviesCardList__emptyFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 300px;
  text-align: center;
}

.moviesCardList__container {
  display: grid;
  justify-content: space-around;
  margin: 70px 0 30px;
  padding: 0;
  width: 100%;
  grid-template-columns: repeat(3, 364px);
  row-gap: 30px;
}

@media screen and (max-width: 1279px) {
  .moviesCardList__container {
    margin: 70px 0 30px;
    grid-template-columns: repeat(2, 339px);
    row-gap: 36px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .moviesCardList__container {
    margin: 40px 0 30px;
    justify-content: center;
    grid-template-columns: repeat(1, 300px);
    row-gap: 16px;
  }
}
