.promo {
  font-family: Inter, Arial, sans-serif;
  display: flex;
  width: 100%;
  min-height: 524px;
  background-color: #228cbb;
  color: #fff;
}

.promo__info {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 75px 0 25px 70px;
  max-width: 640px;
}

.promo__title {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
}

.promo__subtitle {
  margin-top: 36px;
  max-width: 310px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  opacity: 0.5;
}

.promo__button {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 129px;
  height: 36px;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.promo__link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
}

.promo__textLogo {
  position: absolute;
  right: 3px;
  margin: 75px 70px 0 0;
  width: 310px;
  height: 304px;
  user-select: none;
}

@media screen and (max-width: 1279px) {
  .promo {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    min-height: 800px;
  }

  .promo__textLogo {
    position: static;
    margin: 140px auto 0;
  }

  .promo__info {
    margin: 48px 44px 0 44px;
    max-width: 680px;
    text-align: center;
  }

  .promo__title {
    margin: 0 auto;
    font-size: 40px;
    line-height: 50px;
  }

  .promo__subtitle {
    margin: 22px auto 0;
    max-width: 260px;
    font-size: 13px;
    line-height: 16px;
  }

  .promo__button {
    position: static;
    margin: 92px auto 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .promo {
    min-height: 586px;
  }

  .promo__textLogo {
    margin: 70px auto 0;
    width: 210px;
    height: 206px;
  }

  .promo__info {
    margin: 44px 10px 0 10px;
    max-width: 300px;
    text-align: center;
  }

  .promo__title {
    margin: 0 auto;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.04em;
  }

  .promo__subtitle {
    margin: 24px auto 0;
  }

  .promo__button {
    margin: 30px auto 0;
  }
}
