.aboutProject {
  font-family: Inter, Arial, sans-serif;
  display: flex;
  width: 100%;
  min-height: 608px;
  background-color: #202020;
  color: #fff;
}

.aboutProject__container {
  display: flex;
  flex-direction: column;
  margin: 110px 70px;
  width: 100%;
}

.aboutProject__title-box {
  min-height: 50px;
  border-bottom: #dadada 1px solid;
}

.aboutProject__title {
  margin: 0;
  text-align: start;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.aboutProject__description {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  text-align: start;
}

.aboutProject__card {
  display: flex;
  flex-direction: column;
  max-width: 550px;
}

.aboutProject__card-title {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.aboutProject__card-subtitle {
  margin: 26px 0 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.aboutProject__bar {
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
  text-align: center;
}

.aboutProject__backend-bar {
  width: 20%;
}

.aboutProject__frontend-bar {
  width: 80%;
}

.aboutProject__backend-bar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  background-color: #3ddc84;
}

.aboutProject__frontend-bar-title {
  display: flex;
  height: 36px;
  justify-content: center;
  align-items: center;
  background-color: #303030;
}

.aboutProject__backend-title {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.aboutProject__frontend-title {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.aboutProject__subtitle {
  margin: 14px 0 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8b8b8b;
}

@media screen and (max-width: 1279px) {
  .aboutProject {
    min-height: 585px;
  }

  .aboutProject__container {
    margin: 90px 50px;
    width: 100%;
  }

  .aboutProject__card {
    max-width: 319px;
  }

  .aboutProject__card-subtitle {
    margin: 22px 0 0 0;
    font-size: 12px;
    line-height: 18px;
  }

  .aboutProject__bar {
    margin-top: 93px;
  }

  .aboutProject__backend-bar {
    width: 21%;
  }

  .aboutProject__frontend-bar {
    width: 79%;
  }

  .aboutProject__subtitle {
    font-weight: normal;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .aboutProject {
    min-height: 641px;
  }

  .aboutProject__container {
    margin: 70px 18px 0;
  }

  .aboutProject__title {
    font-size: 18px;
    line-height: 22px;
  }

  .aboutProject__description {
    flex-direction: column;
    margin-top: 60px;
  }

  .aboutProject__card {
    max-width: 100%;
    margin-bottom: 56px;
  }

  .aboutProject__card:last-of-type {
    margin-bottom: 0;
  }

  .aboutProject__card-title {
    font-size: 18px;
    line-height: 22px;
  }

  .aboutProject__card-subtitle {
    margin: 16px 0 0 0;
    font-size: 11px;
    line-height: 16px;
  }

  .aboutProject__bar {
    margin-top: 60px;
  }

  .aboutProject__backend-bar {
    width: 35.2%;
  }

  .aboutProject__frontend-bar {
    width: 64.8%;
  }

  .aboutProject__backend-bar-title {
    height: 35px;
  }

  .aboutProject__frontend-bar-title {
    height: 35px;
  }

  .aboutProject__backend-title {
    font-size: 11px;
    line-height: 13px;
  }

  .aboutProject__frontend-title {
    font-size: 11px;
    line-height: 13px;
  }

  .aboutProject__subtitle {
    margin: 10px 0 0 0;
    font-size: 11px;
    line-height: 13px;
  }
}
